---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About</div>
  </div>

  <div class="mb-10">
    I'm a Product Manager with 3+ years of experience working with software development at startups. I have helped companies acquire new users through product initiatives and growth strategies. <br>
    <br>
    Some examples include:
    <ul class="list-disc ml-8">
      <li>The planning and implementation of acquisition strategies that led to +200K new product signups in 6 months at Trybe</li>
      <li>The implementation of +10 product features that improved key conversion metrics by up to 100% at Trybe</li>
      <li>The implementation of e-mail marketing campaigns supervising the content creation department (visuals and copy) that generated R$300K of revenue in 6 months at dr.consulta</li>
    </ul>
    <br>
    Additionally, I'm very passionate about technology and programming in general. I code in <b>python</b> and <b>SQL</b> and get very excited about opportunities where I get to help the engineers with scripts and algorithm implementations.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of Sao Paulo (USP) - #1 Latam"
      subtitle="Bachelor's degree in Industrial Engineering 2015 - 2019"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Product Manager"
      subtitle="Trybe (edtech) from Apr 2021 to Jun 2023 - Remote"
    >
      I worked as the Product Manager of the user acquisition squad within the marketing department, with a strong focus on driving growth and conversion.<br>
      <br>
      <ul class="list-disc ml-8">
        <li>Conducted product experiments that increased bottom-line conversions in the user acquisition funnel by up to 100%</li>
        <li>Managed all the top of funnel products: main website, custom Content Management System (CMS), organic acquisition products, blog with 500k visitors/month, signup flow and authentication and landing pages</li>
        <li>Created and maintained the company's tracking plan and attribution model</li>
        <li>Integrated the top of funnel products with marketing tools such as HubSpot, Google Analytics, Google Tag Manager, WhatsApp, LP Builders, etc</li>
        <li>Created dashboards and data analysis in Metabase (on top of our datalake) and Product Analytics tools, such as Mixpanel and Amplitude</li>
      </ul>
      <br>
    </TimeLineElement>
    <TimeLineElement
      title="Product Analyst"
      subtitle="dr.consulta (healthtech) from Dec 2020 to Apr 2021 - Remote"
    >
      I worked as a Product Analyst responsible for overseeing the company's Help Center Platform, catering to the internal side of the Health Marketplace, specifically targeting healthcare professionals. In this role, my primary focus was on improving user engagement and retention across all medical departments.<br>
      <br>
      One of my significant achievements during my tenure was successfully deploying the first version (MVP) of the company's Help Center using WordPress. After the launch, the SLA for non-critical support tickets went from 72 hours to 10 minutes. <br>
      <br>
    </TimeLineElement>
    <TimeLineElement
      title="Product Development Intern"
      subtitle="dr.consulta (healthtech) from Jan 2020 to Dec 2021 - Remote"
    >
      During my internship, I had the opportunity to gain exposure to the fundamentals of product management. It was my first experience collaborating with other technical departments, such as engineering, design, and data teams.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-1 mx-6">
    <li>Product Management</li>
    <li>Communication</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Data Analysis</li>
    <li>Marketing</li>
    <li>Growth</li>
    <li>Software Development</li>
    <li>SEO</li>
    <li>Leadership</li>
    <li>Figma</li>
    <li>Design</li>
    <li>Product Execution</li>
    <li>Project Management</li>
  </ul>
</BaseLayout>
