---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About</div>
  </div>

  <div class="mb-10">
    As a Product Manager with 4+ years of experience in startup software development, I specialize in Growth, Experimentation & Analytics. I have consistently driven revenue growth through strategic product initiatives and rigorous A/B testing, leading to measurable success across various companies. <br>
    <br>
    <b>Key achievements</b>
    <ul class="list-disc ml-8">
      <li>SuperSummary
        <ul class="list-disc ml-8">
            <li>Orchestrated and executed over 20 conversion A/B tests, directly resulting in a $500k net revenue increase within a year</li>
            <li>Developed and maintained 10+ analytics dashboards using Metabase and Amplitude to monitor and report on experiment results</li>
        </ul>
      </li>
      <li>Trybe
        <ul class="list-disc ml-8">
            <li>Designed and led A/B testing strategies that significantly boosted new product signups, totaling over 300K in just six months</li>
            <li>Implemented more than 10 product features, collectively enhancing key conversion metrics by 80%</li>
        </ul>
      </li>
      <li>dr. consulta
        <ul class="list-disc ml-8">
            <li>Supervised and implemented e-mail marketing campaigns that generated over $200K in gross revenue in 6 months</li>
        </ul>
      </li>
    </ul>
    <br>
    <b>Technical skills and passion</b>
    <br>
    I'm deeply passionate about technology, programming, and design. I'm proficient in <b>Python</b> (including some Django), <b>SQL</b>, and have basic skills in UI prototyping with <b>Figma</b>. I excel in roles that leverage my skills from the ground up—starting with initial sketches and wireframes that set the stage for detailed discussions with designers and engineers. On the tech side, I'm hands-on with task specification and refinement, conducting Q/A, and performing both simple and advanced data analyses. I also get involved in script writing and debugging occasionally, which all help improve team capabilities and bridge the gap between management, engineering and design.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Product Manager"
      subtitle="Lift Ventures (SuperSummary) from Aug 2023 to Present - Remote">
      I work as the Product Manager of the Growth squad, leading a team of 4 engineers and 1 designer, with a strong focus on growth, conversion, experimentation and SEO.
      <br>
    </TimeLineElement>

    <TimeLineElement
      title="Product Manager"
      subtitle="Trybe (edtech) from Apr 2021 to Jun 2023 - Remote"
    >
      I worked as the Product Manager of the user acquisition squad within the marketing department leading a team of 3 engineers and 1 designer, with a strong focus on growth and conversion.<br>
      <br>
      <ul class="list-disc ml-8">
        <li>Conducted product experiments that increased bottom-line conversions in the user acquisition funnel by up to 100%</li>
        <li>Managed all the top of funnel products: main website, custom Content Management System (CMS), organic acquisition products, blog with 500k visitors/month, signup flow and authentication and landing pages</li>
        <li>Created and maintained the company's tracking plan and attribution model</li>
        <li>Integrated the top of funnel products with marketing tools such as HubSpot, Google Analytics, Google Tag Manager, WhatsApp, LP Builders, etc</li>
        <li>Created dashboards and data analysis in Metabase (on top of our datalake) and Product Analytics tools, such as Mixpanel and Amplitude</li>
      </ul>
      <br>
    </TimeLineElement>
    <TimeLineElement
      title="Product Analyst"
      subtitle="dr.consulta (healthtech) from Dec 2020 to Apr 2021 - Remote"
    >
      I worked as a Product Analyst responsible for overseeing the company's Help Center Platform, catering to the internal side of the Health Marketplace, specifically targeting healthcare professionals. In this role, my primary focus was on improving user engagement and retention across all medical departments.<br>
      <br>
      One of my significant achievements during my tenure was successfully deploying the first version (MVP) of the company's Help Center using WordPress. After the launch, the SLA for non-critical support tickets went from 72 hours to 10 minutes. <br>
      <br>
    </TimeLineElement>
    <TimeLineElement
      title="Product Development Intern"
      subtitle="dr.consulta (healthtech) from Jan 2020 to Dec 2021 - Remote"
    >
      During my internship, I had the opportunity to gain exposure to the fundamentals of product management. It was my first experience collaborating with other technical departments, such as engineering, design, and data teams.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of São Paulo (USP) - #1 Latam - #85 (QS World University 2024)"
      subtitle="Bachelor's degree in Industrial Engineering 2015 - 2019"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-1 mx-6">
    <li>Product Management</li>
    <li>Communication</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Data Analysis</li>
    <li>Marketing</li>
    <li>Growth</li>
    <li>Software Development</li>
    <li>SEO</li>
    <li>Leadership</li>
    <li>Figma</li>
    <li>Design</li>
    <li>Product Execution</li>
    <li>Project Management</li>
    <li>Video Editing</li>
    <li>Video Production</li>
  </ul>
</BaseLayout>
